#search {
    justify-content: center;
    align-items: center;
}

#second {
    background-color: #f2f2f2;
}

ul {
    list-style: none;
    background-color: #7EE5DA ;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    padding-right: 25px;
    
}

#alt {
   display: flex;
   justify-content: center;
}

footer {
    text-align: center;
}